<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link REL="SHORTCUT ICON" HREF="./img/logo.jpg" type="image/x-icon">
    <title>LionVest</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/script.js"></script>
</head>

<body>
    <div class="page_register_pwd">
        <div class="container">
            <div class="content_register_pwd">
                <div class="form_register_pwd">
                    <img src="./img/logo-lateral.png" alt="">
                    <h1>Já estamos terminando.</h1>
                    <h3>Digite senhas seguras</h3>
                    <form action="/register_pwd" method="post">
                        <span class="title">Senha de Acesso</span>
                        <input type="password" name="senha" placeholder="Digite sua Senha de Acesso">
                        <span id="alert_cpf" class="alert">Somente números</span>
                        <span class="title">Assinatura Eletrônica</span>
                        <input type="password" name="assinatura" placeholder="Digite sua Assinatura Eletrônica">
                        <button class="btn_register" type="submit">ABRIR CONTA</button>
                        {% block content %}
                        <input type="text" style="display: none;" name="nome" value="{{dados.nome}}">
                        <input type="text" style="display: none;" name="email" value="{{dados.email}}">
                        <input type="text" style="display: none;" name="cpf" value="{{dados.cpf}}">
                        <input type="text" style="display: none;" name="data_nascimento"
                            value="{{dados.data_nascimento}}">
                        {% endblock%}
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>