<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link REL="SHORTCUT ICON" HREF="./img/logo.jpg" type="image/x-icon">
    <title>LionVest</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="./js/script.js"></script>
</head>

<body>
    <div class="page_register">
        <div class="part_register">
            <div class="form_register">
                <img src="./img/logo-lateral.png" alt="">
                <h1>Seja bem-vindo.</h1>
                <h3>Digite suas informações</h3>
                <form action="/register_data" method="post">
                    <span class="title">Nome Completo</span>
                    <input class="less_alert" type="text" name="nome" placeholder="Digite seu Nome">
                    <span class="title">Email</span>
                    <input class="less_alert" type="text" name="email" placeholder="Digite seu Email">
                    <span class="title">CPF</span>
                    <input id="input_cpf" onchange="check_cpf()" type="text" name="cpf" placeholder="Digite seu CPF">
                    <span id="alert_cpf" class="alert">Somente números</span>
                    <span class="title">Data de Nascimento</span>
                    <input onfocus="change_type()" id="input_date" type="text" name="data_nascimento"
                        placeholder="Digite sua Data de Nascimento">
                    <span class="alert">Somente números</span>
                    <button class="btn_register" type="submit">CONTINUAR</button>
                </form>
            </div>
        </div>
        <div class="part_img">
        </div>
    </div>
</body>

</html>