<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link REL="SHORTCUT ICON" HREF="./img/logo.jpg" type="image/x-icon">
    <title>LionVest</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#"><img src="./img/logo-lateral.png" alt=""></a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/investment">Investimentos</a></li>
                    <li><a href="/news">Notícias</a></li>
                    <li><a href="/simulator">Simulador</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a class="criar" href="/register">Abra sua conta</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="title_home">
        <div class="container">
            <div class="title">
                <h1>A coragem e força do leão para seus investimentos</h1>
                <h3>Tudo que você precisa em um só lugar</h3>
            </div>
        </div>
    </div>
    <div class="our_history">
        <div class="container">
            <div class="content_our_history">
                <div class="title_history">
                    <h1>Nossa História</h1>
                </div>
                <div class="history">
                    <p>
                        Nascemos em 2020 para transformar a forma de investir,
                        com a idealização de um estudioso da área econômica,
                        em busca de transformar no país, com uma corretora
                        sem custos para seus clientes.
                    </p>
                </div>
                <a class="button" href="/about">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="title_simulator">
        <div class="container">
            <div class="title">
                <h1>Simulador de Investimentos</h1>
                <h3>Qual o melhor investimento poupança ou Tesouro Direto, CDB e LC?</h3>
                <a class="button" href="/simulator">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="types_investment">
        <div class="container">
            <div class="content">
                <div class="title_types">
                    <h3>Tipos de Investimentos</h3>
                </div>
                <div class="types">
                    <div class="type">
                        <h3>Tesouro Direto</h3>
                        <p>
                            Porta de entrada do mundo dos investimentos.
                            Possui modalidades prefixadas e pós-fixadas.
                            Ideal para quem quer começar.
                        </p>
                        <ul>
                            <li>Investimento mais seguro do mercado</li>
                            <li>Rende mais do que a poupança</li>
                        </ul>
                    </div>
                    <div class="type">
                        <h3>Ações</h3>
                        <p>
                            Ações são os investimentos mais famosos do mercado financeiro.
                            São mais simples de operar do que parecem.
                        </p>
                        <ul>
                            <li>Invista em ações diretamente pela Internet</li>
                            <li>Maiores chances de rentabilidade do mercado</li>
                        </ul>
                        </li>
                    </div>
                    <div class="type">
                        <h3>CDB e LC</h3>
                        <p>
                            CDB e LC são investimentos em Renda Fixa com boas rentabilidades e
                            muitas opções de prazo de resgate para sua estratégia de investimento.
                        </p>
                        <ul>
                            <li>Investimento versátil para cada perfil</li>
                            <li>São cobertos pelo Fundo Garantidor de Créditos - FGC</li>
                        </ul>
                    </div>
                </div>
                <a class="button" href="/investment">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="final">
        <div class="container">
            <div class="content">
                <div class="nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="/about">Sobre</a></li>
                        <li><a href="/investment">Investimentos</a></li>
                    </ul>
                    <ul>
                        <li><a href="/news">Notícias</a></li>
                        <li><a href="/simulator">Simulador</a></li>
                        <li><a href="/support">Suporte</a></li>
                    </ul>
                </div>
                <div class="adress">
                    <h3>Av. Paulista nº14563</h3>
                    <h4>São Paulo - SP</h4>
                </div>
                <div class="social">
                    <img src="./img/icon_social.png" alt="">
                </div>
            </div>
        </div>
    </div>

</body>

</html>