<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link REL="SHORTCUT ICON" HREF="./img/logo.jpg" type="image/x-icon">
    <title>LionVest</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/"><img src="./img/logo-lateral.png" alt=""></a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/investments">Investimentos</a></li>
                    <li><a href="./news">Notícias</a></li>
                    <li><a href="#">Simulador</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a class="blue" href="#">Login</a></li>
                    <li><a class="criar" href="#">Abra sua conta</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="title_simulator">
        <div class="container">
            <div class="title">
                <h1>Simulador de Investimentos</h1>
                <h3>Qual o melhor investimento poupança ou Tesouro Direto, CDB e LC?</h3>
            </div>
        </div>
    </div>
    <div class="part_simulator">
        <div class="container">
            <div class="content_simulator">
                <div class="select_simulator">
                    <div class="tesouro_pre">Tesouro Prefixado</div>
                    <div class="tesouro_selic">Tesouro Selic</div>
                    <div class="tesouro_ipca">Tesouro IPCA+</div>
                    <div class="cdb_lc">CDB e LC</div>
                </div>
                <div class="info_simulator">
                    <div class="config_simulator"></div>
                    <div class="result_simulator"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>