a.button{
 color: #25559f;
 background-color: #cca367;
 font-size: 1.2em;
 padding: 1.5vh;
 text-decoration: none;
 border-radius: 5px;
}

a.button:hover {
    color: #cca367;
    background-color: #25559f;
    transition: 0.4s;
}

/*----------------------- Home -----------------------*/

.title_home {
    width: 100%;
    height: 100vh;
    background-image: url('../img/lion_back_home.jpg');
    background-size: cover;
    background-position: center;
}

.title_home .title {
    width: 100%;
    height: 100vh;
    color: ivory;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.title_home .title h1 {
    font-size: 2.4em;
    font-weight: 800;
}

.title_home  .title h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 10px;
}

/*----------------------- About -----------------------*/

.our_history .content_our_history {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content_our_history h1 {
    font-size: 2.4em;
    font-weight: 800;
    color: #cca367;
}
.content_our_history .history {
    width: 50%;
}
.content_our_history p {
    font-size: 1.2em;
    font-weight: 600;
    color: #25559f;
    text-align: justify;
} 

/*---------------------- Simulator ----------------------*/

.title_simulator {
    width: 100%;
    height: 100vh;
    background-image: url("../img/lion_back_simulator.jpg");
    background-size: cover;
    background-position: center;
    
}

.title_simulator .title {
    width: 100%;
    height: 100vh;
    color: ivory;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_simulator .title h1 {
    font-size: 2.4em;
    font-weight: 800;
}

.title_simulator .title h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 10px;
}

.title_simulator .title a.button {
    margin-top: 20vh;
}

/*---------------------- Investment ----------------------*/

.types_investment .content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content .title_types h3 {
    color: #cca367;
    font-size: 2.2em;
    font-weight: 800;
}

.content .types {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content .type {
    background-color: #25559f;
    color: #cca367;
    width: 27%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.type h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 5vh;
}

.type p {
    margin: 5vh 7% 3vh 7%;
    text-align: justify;
}

.type ul {
    width: 85%;
}
