/*----------------------- Home -----------------------*/

.title_home {
    width: 100%;
    height: 100vh;
<<<<<<< HEAD
<<<<<<< HEAD
    background-image: url('../img/lion_back_home.jpg');
=======
    background-image: url('../img/lion_back_register_pwd.png');
>>>>>>> parent of fa3bbf0... upload
=======
    background-image: url('../img/lion_back_register_pwd.png');
>>>>>>> parent of fa3bbf0... upload
    background-size: cover;
    background-position: center;
}

.title_home .title {
    width: 100%;
    height: 100vh;
    color: ivory;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.title_home .title h1 {
    font-size: 2.4em;
    font-weight: 800;
}

.title_home  .title h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 10px;
}

