* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/*------------------------ Header ------------------------*/

header {
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
    box-shadow:0px 4px 7px 0px rgba(50, 50, 50, 0.4);
}

header .container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    max-height: 50px;
    margin-right: 2vw;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header ul li {
    margin: 0 1vw;
}

header li a {
    text-decoration: none;
    font-size: 1em;
    font-family: sans-serif;
    color: #25559f;
}

header li a:hover {
    transition: 200ms;
    color:#cca367;
}

header li a.criar {
    padding: 1vh 1vw;
    background-color: #cca367;
    color: #25559f;
    border-radius: 5px;
}

header li a.criar:hover {
    transition: 200ms;
    background-color:#25559f;
    color: #cca367;
}

/*------------------------ News ------------------------*/

.title_page .title {
    width: 100%;
    max-height: 200px;
    margin: 50px 0 0 60px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.title_page .title h1 {
    font-size: 1.8em;
    font-weight: 900;
    color: #cca367;
}

.title_page .title img {
    max-width: 40px;
    margin-left: 20px;
}

.post_news {
    display: flex;
    flex-direction: column;
}

.news {
    display: flex;
    align-items: center;
    height: 200px;
    margin-left: 50px;
    padding: 15px 0;
    border-top: 1px solid rgb(214, 214, 214);
}

.news .img_news img {
    max-height: 180px;
    cursor: pointer;
}

.news .content_news {
    height: 190px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content_news .hat_news p {
    color: #cca367;
    font-size: 0.9em;
    font-weight: 900;
}

.content_news .title_news {
    width: 70%;
}

.content_news .title_news a {
    color: rgba(20, 20, 20, 0.918);
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
}

.content_news .title_news a:hover {
    color: #25559f;
}

.content_news .time_news p {
    color: rgb(95, 95, 95);
    font-size: 0.8em;
    font-weight: 900;
}

/*---------------------- Simulator ----------------------*/

.title_simulator {
    width: 100%;
    background-image: url("../img/lion_back_simulator.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.title_simulator .title {
    width: 100%;
    padding-top: 230px;
    color: ivory;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_simulator .title h1 {
    font-size: 2.4em;
    font-weight: 800;
}

.title_simulator .title h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 10px;
}

.content_simulator {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.select_simulator {
    width: 15%;
}

.select_simulator .item_select {
    height: 20vh;
    display: flex;
    align-items: center;
    border-right: 4px solid #25559f;
}

.select_simulator div.select {
    border-right: 4px solid #cca367;
}

.config_simulator_item .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: #d3d3d3; 
    outline: none;
    height: 4px;
    border-radius: 5px; 
  }
.config_simulator_item .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #cca367;
    cursor: pointer;
  }


/*------------------------ Login ------------------------*/

.page_login {
    display: flex;
    width: 100%;
    height: 100vh;
}

.page_login .part_login {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.form_login {
    width: 50%;
}

.form_login img {
    max-height: 80px;
}

.form_login h1 {
    color:#25559f;
    font-size: 1.2em;
    margin-top: 30px ;
}

.form_login h3 {
    color: #25559f;
    font-size: 1em;
    margin-bottom: 30px;
}

.form_login form {
    display: flex;
    flex-direction: column;
}

.form_login form .title {
    color: #cca367;
    font-size: 0.9em;
    font-weight: 700;
}

.form_login form input {
    width: 100%;
    height: 35px;
    color: #25559f;
    font-size: 1em;
    border-bottom: 2px solid #cca367;
    outline: none;
}

.form_login form .alert {
    color: #cca367;
    text-align: right;
    font-size: 0.8em;
    font-weight: 600;
    margin:5px 0 15px 60%;
}

.form_login form .btn_login {
    width: 100%;
    height: 35px;
    background-color: #25559f;
    color: #cca367;
    border-radius: 5px;
    margin-top: 20px;
}

.form_login form a {
    color: rgb(61, 61, 61);
    font-size: 0.8em;
    margin-top: 20px;
    text-decoration: none;
}

.page_login .part_img {
    width: 50%;
    background-image: url("../img/lion_login.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top; 
}

/*------------------------ Register ------------------------*/

.page_register {
    display: flex;
    width: 100%;
    height: 100vh;
}

.part_register {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.form_register {
    width: 50%;
}

.form_register img {
    max-height: 80px;
}

.form_register h1 {
    color:#25559f;
    font-size: 1.2em;
    margin-top: 30px ;
}

.form_register h3 {
    color: #25559f;
    font-size: 1em;
    margin-bottom: 30px;
}

.form_register form {
    display: flex;
    flex-direction: column;
}

.form_register form .title {
    color: #cca367;
    font-size: 0.9em;
    font-weight: 700;
}

.form_register form input {
    width: 100%;
    height: 35px;
    color: #25559f;
    font-size: 1em;
    border-bottom: 2px solid #cca367;
    outline: none;
}

.form_register form input.less_alert {
    margin-bottom: 15px;
}

.form_register form .alert {
    color: #cca367;
    text-align: right;
    font-size: 0.8em;
    font-weight: 600;
    margin:5px 0 15px 0;
}

.form_register form .btn_register {
    width: 100%;
    height: 35px;
    background-color: #25559f;
    color: #cca367;
    border-radius: 5px;
    margin-top: 20px;
}

.form_register form a {
    color: rgb(61, 61, 61);
    font-size: 0.8em;
    margin-top: 20px;
    text-decoration: none;
}

.page_register .part_img {
    width: 50%;
    background-image: url("../img/lion_up.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    background-position: center;
}

/*------------------ Register Password --------------------*/

.page_register_pwd {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/lion_back_register_pwd.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.page_register_pwd .container {
    max-width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_register_pwd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.76);
}

.form_register_pwd {
    width: 70%;
}

.form_register_pwd img {
    max-height: 80px;
}

.form_register_pwd h1 {
    color:#25559f;
    font-size: 1.2em;
    margin-top: 30px ;
}

.form_register_pwd h3 {
    color: #25559f;
    font-size: 1em;
    margin-bottom: 30px;
}

.form_register_pwd form {
    display: flex;
    flex-direction: column;
}

.form_register_pwd form .title {
    color: #cca367;
    font-size: 0.9em;
    font-weight: 700;
}

.form_register_pwd form input {
    width: 100%;
    height: 35px;
    color: #25559f;
    font-size: 1em;
    border-bottom: 2px solid #cca367;
    outline: none;
}

.form_register_pwd form input.less_alert {
    margin-bottom: 15px;
}

.form_register_pwd form .alert {
    color: #cca367;
    text-align: right;
    font-size: 0.8em;
    font-weight: 600;
    margin:5px 0 15px 0;
}

.form_register_pwd form .btn_register {
    width: 100%;
    height: 35px;
    background-color: #25559f;
    color: #cca367;
    border-radius: 5px;
    margin-top: 20px;
}

.form_register_pwd form a {
    color: rgb(61, 61, 61);
    font-size: 0.8em;
    margin-top: 20px;
    text-decoration: none;
}
