* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
}

header {
    background-color: white;
    width: 100vw;
    height: 70px;
    display: flex;
    box-shadow:0px 4px 7px 0px rgba(50, 50, 50, 0.4);
}

.container {
    width: 90vw;
    margin: 0 auto;
}

header .container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    max-height: 50px;
    margin-right: 2vw;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header ul li {
    margin: 0 1vw;
}

header li a {
    text-decoration: none;
    font-size: 1em;
    font-family: sans-serif;
    color: #25559f;
}

header li a:hover {
    transition: 200ms;
    color:#cca367;
}

header li a.criar {
    padding: 1vh 1vw;
    background-color: #cca367;
    color: #25559f;
    border-radius: 5px;
}

header li a.criar:hover {
    transition: 200ms;
    background-color:#25559f;
    color: #cca367;
}

/*------------------------ News ------------------------*/

.title_page .title {
    width: 100%;
    max-height: 200px;
    margin: 50px 0 0 60px;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.title_page .title h1 {
    font-size: 1.8em;
    font-weight: 900;
    color: #cca367;
}

.title_page .title img {
    max-width: 40px;
    margin-left: 20px;
}

.post_news {
    display: flex;
    flex-direction: column;
}

.news {
    display: flex;
    align-items: center;
    height: 200px;
    margin-left: 50px;
    padding: 15px 0;
    border-top: 1px solid rgb(214, 214, 214);
}

.news .img_news img {
    max-height: 180px;
    cursor: pointer;
}

.news .content_news {
    height: 190px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content_news .hat_news p {
    color: #25559f;
    font-size: 0.9em;
    font-weight: 900;
}

.content_news .title_news {
    width: 70%;
}

.content_news .title_news a {
    color: rgba(20, 20, 20, 0.918);
    font-size: 1.2em;
    font-weight: 700;
    text-decoration: none;
}

.content_news .title_news a:hover {
    color:#cca367;
}

.content_news .time_news p {
    color: rgb(95, 95, 95);
    font-size: 0.8em;
    font-weight: 900;
}