<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link REL="SHORTCUT ICON" HREF="./img/logo.jpg" type="image/x-icon">
    <title>LionVest</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/"><img src="./img/logo-lateral.png" alt=""></a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="/investment">Investimentos</a></li>
                    <li><a href="/news">Notícias</a></li>
                    <li><a href="/simulator">Simulador</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a class="criar" href="/register">Abra sua conta</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="title_about">
        <div class="container">
            <div class="title">
                <h1>A corretora que pensa no futuro</h1>
                <h3>Juntos por um país mais prospero</h3>
            </div>
        </div>
    </div>
    <div class="our_history">
        <div class="container">
            <div class="content_our_history">
                <div class="title_history">
                    <h1>Nossa História</h1>
                </div>
                <div class="history">
                    <p>
                        Nascemos em 2020 para transformar a forma de investir,
                        com a idealização de um estudioso da área econômica,
                        em busca de transformar no país, com uma corretora
                        sem custos para seus clientes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flag">
    </div>
    <div class="final">
        <div class="container">
            <div class="content">
                <div class="nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="/about">Sobre</a></li>
                        <li><a href="/investment">Investimentos</a></li>
                    </ul>
                    <ul>
                        <li><a href="/news">Notícias</a></li>
                        <li><a href="/simulator">Simulador</a></li>
                        <li><a href="/support">Suporte</a></li>
                    </ul>
                </div>
                <div class="adress">
                    <h3>Av. Paulista nº14563</h3>
                    <h4>São Paulo - SP</h4>
                </div>
                <div class="social">
                    <img src="./img/icon_social.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>