<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link REL="SHORTCUT ICON" HREF="./img/logo.jpg" type="image/x-icon">
    <title>Investimentos</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/investment.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/"><img src="./img/logo-lateral.png" alt=""></a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="#">Investimentos</a></li>
                    <li><a href="/news">Notícias</a></li>
                    <li><a href="/simulator">Simulador</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a class="criar" href="/register">Abra sua conta</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="title_investment">
        <div class="container">
            <div class="title">
                <h1>O lugar onde investir vai além do lucro</h1>
                <h3>Investir é estilo de vida</h3>
            </div>
        </div>
    </div>
    <div class="types_investment">
        <div class="container">
            <div class="content">
                <div class="title_types">
                    <h3>Tipos de Investimentos</h3>
                </div>
                <div class="types">
                    <div class="type">
                        <h3>Tesouro Direto</h3>
                        <p>
                            Porta de entrada do mundo dos investimentos.
                            Possui modalidades prefixadas e pós-fixadas.
                            Ideal para quem quer começar.
                        </p>
                        <ul>
                            <li>Investimento mais seguro do mercado</li>
                            <li>Rende mais do que a poupança</li>
                        </ul>
                    </div>
                    <div class="type">
                        <h3>Ações</h3>
                        <p>
                            Ações são os investimentos mais famosos do mercado financeiro.
                            São mais simples de operar do que parecem.
                        </p>
                        <ul>
                            <li>Invista em ações diretamente pela Internet</li>
                            <li>Maiores chances de rentabilidade do mercado</li>
                        </ul>
                        </li>
                    </div>
                    <div class="type">
                        <h3>CDB e LC</h3>
                        <p>
                            CDB e LC são investimentos em Renda Fixa com boas rentabilidades e
                            muitas opções de prazo de resgate para sua estratégia de investimento.
                        </p>
                        <ul>
                            <li>Investimento versátil para cada perfil</li>
                            <li>São cobertos pelo Fundo Garantidor de Créditos - FGC</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="title_idea">
        <div class="container">
            <div class="title">
                <h1>
                    "A mente que se abre a uma nova ideia jamais voltará ao seu tamanho original"
                    <span class="author">(Albert Einstein)</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="courses">
        <div class="container">
            <div class="content">
                <div class="title_courses">
                    <h3>Cursos de Investimentos</h3>
                </div>
                <div class="courses">
                    <div class="course">
                        <h3>Tesouro Direto</h3>
                        <iframe src="https://www.youtube.com/embed/3RqwOpUH6Cg  ">
                        </iframe>
                        <a href="https://www.youtube.com/playlist?list=PLlX5xeBziJ1WHe43CpWmnrE9_YXrxAxgE"
                            target="_blank">Mais aulas</a>
                    </div>
                    <div class="course">
                        <h3>Ações</h3>
                        <iframe src="https://www.youtube.com/embed/-sGOvusS5NI"></iframe>
                        <a href="https://www.youtube.com/playlist?list=PLHvsswG2Q9jJVpOS9DTN7EGkxkHR5P_0q"
                            target="_blank">Mais aulas</a>
                    </div>
                    <div class="course">
                        <h3>CDB e LC</h3>
                        <iframe src="https://www.youtube.com/embed/Hy2UoIjPvu4"></iframe>
                        <a href="https://www.youtube.com/playlist?list=PLoS3eNcM6WjQrcOlyse-YNejyZHq5rmbG"
                            target="_blank">Mais aulas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="final">
        <div class="container">
            <div class="content">
                <div class="nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="/about">Sobre</a></li>
                        <li><a href="/investment">Investimentos</a></li>
                    </ul>
                    <ul>
                        <li><a href="/news">Notícias</a></li>
                        <li><a href="/simulator">Simulador</a></li>
                        <li><a href="/support">Suporte</a></li>
                    </ul>
                </div>
                <div class="adress">
                    <h3>Av. Paulista nº14563</h3>
                    <h4>São Paulo - SP</h4>
                </div>
                <div class="social">
                    <img src="./img/icon_social.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>