<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link REL="SHORTCUT ICON" HREF="./img/logo.jpg" type="image/x-icon">
    <title>LionVest</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="./js/script.js"></script>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
        async></script>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/"><img src="./img/logo-lateral.png" alt=""></a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/investments">Investimentos</a></li>
                    <li><a href="#">Notícias</a></li>
                    <li><a href="/simulator">Simulador</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a href="/login">Login</a></li>
                    <li><a class="criar" href="#">Abra sua conta</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="page_news">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
                    {
                        "symbols": [
                            {
                                "description": "IBOVESPA",
                                "proName": "INDEX:IBOV"
                            },
                            {
                                "description": "DÓLAR",
                                "proName": "FX_IDC:BRLUSD"
                            },
                            {
                                "description": "BITCOIN",
                                "proName": "MERCADO:BTCBRL"
                            },
                            {
                                "description": "IFIX",
                                "proName": "BMFBOVESPA:IFIX"
                            },
                            {
                                "description": "MGLU3",
                                "proName": "BMFBOVESPA:MGLU3"
                            },
                            {
                                "description": "PETR4",
                                "proName": "BMFBOVESPA:PETR4"
                            },
                            {
                                "description": "VALE3",
                                "proName": "BMFBOVESPA:VALE3"
                            },
                            {
                                "description": "ITUB4",
                                "proName": "BMFBOVESPA:ITUB4"
                            },
                            {
                                "description": "GGBR4",
                                "proName": "BMFBOVESPA:GGBR4"
                            },
                            {
                                "description": "ABEV3",
                                "proName": "BMFBOVESPA:ABEV3"
                            }
                        ],
                            "colorTheme": "light",
                                "isTransparent": false,
                                    "displayMode": "adaptive",
                                        "locale": "br"
                    }
                </script>
        </div>
        <!-- TradingView Widget END -->
        <div class="title_page">
            <div class="container">
                <div class="title">
                    <h1>Últimas Notícias</h1>
                    <img src="../public/img/logo.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="post_news">
            <div class="container">
                {% for post in post_news %}
                <div class="news">
                    <div class="img_news">
                        <img onclick="window.open('{{post.link_post}}','_blank');" src=" {{post.img_post}}" alt="">
                    </div>
                    <div class="content_news">
                        <div class="hat_news">
                            <p>{{post.hat_post}}</p>
                        </div>
                        <div class="title_news">
                            <a target="_black" href="{{post.link_post}}">{{post.title_post}}</a>
                        </div>
                        <div class="time_news">
                            <p>{{post.time_post}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>