<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link REL="SHORTCUT ICON" HREF="./img/logo.jpg" type="image/x-icon">
    <title>LionVest</title>
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/"><img src="./img/logo-lateral.png" alt=""></a></li>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/investments">Investimentos</a></li>
                    <li><a href="./news">Notícias</a></li>
                    <li><a href="#">Simulador</a></li>
                </ul>
            </nav>
            <nav>
                <ul>
                    <li><a class="blue" href="#">Login</a></li>
                    <li><a class="criar" href="#">Abra sua conta</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="title_simulator">
        <div class="container">
            <div class="title">
                <h1>Simulador de Investimentos</h1>
                <h3>Qual o melhor investimento poupança ou Tesouro Direto, CDB e LC?</h3>
            </div>
        </div>
    </div>
    <div class="part_simulator">
        <div class="container">
            <div class="content_simulator">
                <div class="select_simulator">
                    <div id="tesouro_pre" class="item_select">
                        <p>Tesouro Prefixado</p>
                    </div>
                    <div id="tesouro_selic" class="item_select select">
                        <p>Tesouro Selic</p>
                    </div>
                    <div id="tesouro_ipca" class="item_select">
                        <p>Tesouro IPCA+</p>
                    </div>
                    <div id="cdb_lc" class="item_select">
                        <p>CDB e LC</p>
                    </div>
                </div>
                <div class="info_simulator">
                    <div class="config_simulator">
                        <div class="config_simulator_item">
                            <div class="item_info">
                                <p>Tempo de investimento</p>
                                <h1 class="title_time"></h1>
                                <input type="range" min="0" max="6" step="1" id="input_time" class="slider"
                                    value="3"></input>
                            </div>
                        </div>
                        <div class="config_simulator">
                            <div class="config_simulator_item">
                                <div class="item_info">
                                    <p>Depósito inicial</p>
                                    <span>R$<input id="input_initial" value="5000,00"></input></span>
                                </div>
                            </div>
                            <div class="config_simulator_item">
                                <div class="item_info">
                                    <p>Depósito mensal</p>
                                    <span>R$<input id="input_monthly" value="500,00"></input></span>
                                </div>
                            </div>
                        </div>
                        <div class="result_simulator">

                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>