<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/support.css">
    <script src="./js/support.js"></script>
</head>

<body>
    <div class="page_support">
        <div class="container">
            <div class="content_support">
                <div class="form_support">
                    <img src="./img/logo-lateral.png" alt="">
                    <h1>Suporte Lionvest</h1>
                    <h3>Sempre prontos</h3>
                    <div class="form">
                        <span class=" title">Nome</span>
                        <input id="input_nome" class="less_alert" type="text" placeholder="Digite seu nome">
                        <span class="title">Email</span>
                        <input id="input_email" class="less_alert" type="email" placeholder="Digite seu email">
                        <span class="title">Qual o assunto do seu pedido?</span>
                        <input id="input_assunto" class="less_alert" type="text" placeholder="Assunto">
                        <span class="title">Categoria</span>
                        <select id="input_categoria" class="less_alert">
                            <option value=""></option>
                            <option value="Problemas com o site">Problemas com o site</option>
                            <option value="Reclamação">Reclamação</option>
                            <option value="Sugestão">Sugestão</option>
                            <option value="Outros">Outros</option>
                        </select>
                        <span class="title">Mais informações</span>
                        <textarea id="input_mais" cols="30" rows="10"></textarea>
                        <button onclick="window.location.href = `https://app.pipefy.com/public/form/ly54q8jd`"
                            class="btn_support">ENVIAR</button>
                    </div>
                </div>
            </div>
        </div>
        <iframe style="display: none;" src="https://app.pipefy.com/public/form/ly54q8jd?embedded=true"
            frameborder="0"></iframe>
    </div>

</body>

</html>